openapi: '3.0.0'
info:
  version: 1.0.0
  title: Yashwanth Documentation API
  license:
    name: MIT
servers:
  - url: https://api.yashwanth-docs.com/v1
paths:
  /documents:
    get:
      summary: List all documents
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a document
      operationId: createDocuments
      responses:
        '201':
          description: Document created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{docId}:
    get:
      summary: Info for a specific document
      operationId: showDocumentById
      parameters:
        - name: docId
          in: path
          required: true
          description: The id of the document to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a document
      operationId: updateDocument
      responses:
        '200':
          description: Document updated successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /search:
    get:
      summary: Search documents
      operationId: searchDocuments
      parameters:
        - name: query
          in: query
          description: Search term to match against document titles and content
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        tags:
          type: array
          items:
            type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string