openapi: 3.0.3
info:
  title: Paperguide API
  version: 1.0.0
  description: API for accessing Paperguide features
servers:
  - url: https://api.paperguide.com
paths:
  /documents:
    get:
      summary: List documents
      operationId: listDocuments
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
            example: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  documents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Document'
              examples:
                success:
                  value:
                    documents: [{ id: 1, title: 'Sample Document' }]

  /documents/{documentId}:
    parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: integer
          example: 123
    get:
      summary: Get document details
      operationId: getDocumentById
      responses:
        '200':
          description: Document details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'

  /references:
    post:
      summary: Add reference
      operationId: addReference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, author]
              properties:
                title:
                  type: string
                  example: 'Research Paper'
                author:
                  type: string
                  example: 'John Doe'
            examples:
              basic:
                value:
                  title: 'Research Paper'
                  author: 'John Doe'
      responses:
        '201':
          description: Created

components:
  schemas:
    Document:
      type: object
      required: [id, title]
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: 'Sample Document'
    Error:
      type: object
      properties:
        error:
          type: string
          example: 'Error message'
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
